body {
  margin: 0;
  padding: 0;
}

.content {
  background-image: url("../img/mainbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 663px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.ul {
  background: #fff;
  display: flex;
  justify-content: center;
  list-style: none;
}

.li {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.li:hover {
  cursor: pointer;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.div {
  position: relative;
  width: 50%;
  top: 25%;
  left: 25%;
  color: white;
  text-align: center;
}

.divh1 {
  font-size: 70px;
  margin-bottom: 0;
}

.divp {
  font-size: 20px;
  font-weight: bold;
}

/* menu */

.menu {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding-top: 100px;
}

.card {
  background-color: #000;
  width: 230px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #633f33;
}

.img {
  margin-right: 15px;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  border: 2px solid #fff;
}

.imgcontent {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: larger;
}

.price {
  font-size: 30px;
}
